/* ==============================================================================
Index
----------------------------------------
00 - hero-image layout styles
01 -
02 -
03 -
04 -
============================================================================== */

/* 00 - hero-image layout styles */
.hero-image {
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: 150px;
    margin-bottom: 40px;
    border-bottom: 2px solid #A6CF98;
  }

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #A6CF98;
}

.hero-text__title {
    font-size: 56px;
}
  