/* ==============================================================================
Index
----------------------------------------
00 - weather layout styles
01 -
02 -
03 -
04 -
============================================================================== */

/* 00 - weather layout styles */
.weather__button {
    padding: 20px;
    border-radius: 10px;
    background-color: lightblue;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}