/* ==============================================================================
Index
----------------------------------------
00 - not-found layout styles
01 -
02 -
03 -
04 -
============================================================================== */

/* 00 - not-found layout styles */
.not-found {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 200px);
}

.not-found__wrap {
    text-align: center;
}