/* ==============================================================================
Index
----------------------------------------
00 - add-contacts layout styles
01 -
02 -
03 -
04 -
============================================================================== */

/* 00 - add-contacts layout styles */

.add-contacts {
    text-align: left;
    border: 2px dashed #A6CF98;
    padding: 40px;
    border-radius: 10px;
    margin: 40px auto;
}

.add-contacts__title {
    margin-bottom: 40px;
}

.add-contacts__form {
    display: flex;
    justify-content: center;
}

.add-contact__input-field {
    height: 40px;
    border-radius: 5px;
    padding-left: 10px;
    max-width: 50%;
    border-color: #A6CF98;
    margin-right: 40px;
    min-width: 220px;
}

.add-contact__input-label {
    text-align: start;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    display: inline-flex;
}

.add-contact__cta {
    max-height: 40px;
    border-radius: 5px;
    background-color: #A6CF98;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    min-width: 120px;
}

.add-contact__cta.-cancel {
    margin-left: 10px;
}

.add-contact__input-error {
    display: block;
    color: red;
    font-weight: 600;
    font-size: 14px;
}

.hide {
    display: none;
}